json5==0.9.2
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.3
numpy==1.16.1
numpydoc==0.8.0
pandas==1.0.3
pandas-datareader==0.7.0
pandocfilters==1.4.2
parso==0.3.1
plotly==4.3.0
scikit-image==0.14.0
scikit-learn==0.19.2
scikit-surprise==1.1.0
scipy==1.4.1
seaborn==0.9.0
spotipy==2.4.4
surprise==0.1
tensorboard==1.12.2
tensorboardcolab==0.0.22
tensorflow==2.0.0a0
tensorflow-estimator==1.13.0rc0
tf-estimator-nightly==1.14.0.dev2019030115
Theano==1.0.3+2.g3e47d39ac.dirty
